/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
	font-size: 1.2em;
}
ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
h2,
h3,
a {
	color: #093a58;
}
h2,
h3 {
	margin-top: 0;
}
a {
	text-decoration: none;
}
img {
	margin: auto;
	max-width: 80%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
	margin-top: 5px;
}

.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #093a58;
}

.welcome {
	margin: auto;
	text-align: center;
}

/* ---- Layout Containers ---- */

.main-header {
	width: 100%;
	background: #d9e4ea;
	padding: .5em 0;
	border-bottom: solid black 3px;
}

.col {
	margin: auto;
	padding-right: 1em;
	padding-left: 1em;
}
.main-footer {
	text-align: center;
	width: 100%;
	background: #d9e4ea;
	padding: 2em 0;
	border-top: solid black 3px;
}
.menu-container {
	margin: 10px auto;
}
.menu-description {
	margin: auto;
	padding: 10px;
	max-width: 80%;
}

button {
	background-color: white;
	border: solid black 1px;
	margin: 10px auto;
	border-radius: 12px;
	padding: 10px;
	font-size: 1em;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover {
  background-color: grey;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:active {
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transform: translateY(4px);
}

/* ---- Page Elements ---- */

.logo {
	max-width: 50vw;
	margin: 0 auto;
	border-radius: 50%;
	border: solid black 3px;
}

.menu-item {
	margin: 10px;
	background: #d9e4ea;
	border: solid black 3px;
}

.food-pic {
	margin: 10px;
	max-width: 70%;
	border: solid black 3px;
}

.menu-text {
	margin: 5px 15px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.main-header {
		margin: 0 auto;
		max-width: 100vw;
	}
	.logo {
	width: 200px;
	}
	.menu-container {
		max-width: 85vw;
	}
	.menu-description {
		margin: 20px 100px;
		padding: 10px;
		font-size: 1.5em;
	}
}

@media (min-width: 1025px) {
	.menu-description {
		margin: auto;
		padding: 10px;
		max-width: 80%;
	}
	.menu-item {
		min-width: 600px;
		max-width: 1400px;
		margin: 20px;
	}
	.food-pic {
		max-width: 50%;
	}

button {
	margin: 20px auto;
}

}